{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Contact{% endblock %}
{% block content %}

<div class="container container-contact-thankyou h-100 ">
    <div class="row d-flex align-items-center justify-content-center h-100 ">
        <div class="col-12 text-center mt-5 mb-5">
            <h1 class="Thankyou-heading mt-5">Thank you!</h1>
            <div class="text-center mt-3 mb-3"><i class="fab fa-pagelines icon-green icon-large "></i></div>
            <p class="landing-paragraph">Your message has successfully sent.</p>
                     <p class="landing-paragraph mb-5">We will get back to you shorthly!</p>
            <a href="{% url 'home' %}" class="primaryAction btn btn-colour-1">Back home</a>
        </div>
    </div>
</div>

{% endblock %}