{% extends "base.html" %}
{% load static %}

{% block content %}
   <section class="container contact-container">
      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-6 mt-5 mb-5">
            <div class="contact-form">
              <h3 class="sub-title text-uppercase font-weight-bold text-center">
                Inquiry
              </h3>
              <p class="text-center mb-5">
                We are always finding ways to improve the quality of our
                service. We encourage you to leave us with valuable feedback.
                Thank you for your time.
              </p>
              <form method="POST" action="{% url 'contact_us' %}">
                    {% csrf_token %}
                    {{ contact_form|crispy }}
                    <div class="row form-group">
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-colour-1" aria-label="Contact Form Submit Button">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
          </div>
          <div class="col-md-6 mt-5 mb-5">
            <div class="contact-information">
              <h4 class="sub-title text-uppercase font-weight-bold text-center">
                Contact Us
              </h4>
              <p class="text-center"> Hanstavägen 55 F, 164 53 Kista <br/>
                Stockholm, Sweden
              </p>
              <p class="text-center"> Telephone No.
                <a class="tel-link font-color-inverse" href="tel:+46735396609" aria-label="Telephone Number"> +467 3539 6603</a><br/>
                Email: ysrahouseofroses@business.com
              </p>

              <p class="text-center">Operation Hours <br/>
                Monday to Sunday <br/>
                10:00 - 21:00
              </p>

              <div class="loaction map text-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2030.8443266251722!2d17.94354511598287!3d59.40230968168441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f9ef2ea2203df%3A0xd1e6ca0a48759ac!2sKista%20Galleria!5e0!3m2!1ssv!2sse!4v1586849461978!5m2!1ssv!2sse" width="290" height="300"  style="border:0;" allowfullscreen=""
			     aria-hidden="false" tabindex="0"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /Contact -->

{% endblock %}