{% extends "base.html" %}
{% load static %}

{% block content %}
<hr>
<div class="container">
    <div class="row">
        <div class="col-12 mb-5">
            <h1 class="faqs-header">Frequently Asked Questions</h1>
            <hr>
            <h4 class="question-title">DO YOU ACCEPT RUSH ORDERS?</h4>
            <p>All rush orders are subject to product availability. <br>
            Rush orders for delivery / pick-up on the same day are subject to $30 Rush Fee. Payment cut-off for same day orders is strictly on or before 12 noon, and shall be made available by 3PM onwards.</p>

            <h4 class="question-title">WHAT TIME WILL MY ORDER BE DELIVERED?</h4>
            <p>You may indicate your preferred time of delivery, and we will do our best to accommodate your request. However, please be advised that delivery times are NOT guaranteed as we follow a route per day.</p>

            <h4 class="question-title">HOW LONG DO THE FLOWERS LAST?</h4>
            <p>1. Fresh Ecuadorian Roses: 10-14 days depending on care</p>

            <p>2. Preserved Ecuadorian roses: 3-5 years</p>

            <p>Each flower has a different life span. Most flowers will last anywhere from 3-7 days with proper care, while some may even last longer!</p>

            <h4 class="question-title">HOW TO CARE FOR THE ROSES?</h4>
            <p class="text-muted">FRESH ARRANGEMENTS</p>
            
            <p>-The arrangement comes with enough water with flower food inside. It is best to replace/refill the water every 2-3 days. (Note: The box is designed to function as a vase for the entire life span of the roses)</p>

            <p>– Be mindful when carrying the arrangement. Do not hold the box by the ribbon itself; the uneven weight may cause the arrangement to flip over.</p>

            <p>– Upon receipt, open the lid to allow the roses to breathe and release the moisture build-up inside the box.</p>

            <p>– Do not store the arrangement under direct sunlight and draft.</p>

            <p>– Keep The Box! Use the Box as a keepsake or decorative piece after the flowers are gone.</p>

            <p class="question-title">PRESERVED ARRANGEMENTS</p>

            <p>– Store in a cool, dry place.</p>

            <p>– Do not water preserved flowers.</p>

            <p>– Keep away from direct sources of heat (i.e. sunlight, fire)</p>

        </div>
    </div>
</div>


{% endblock %}