{% extends "base.html" %}
{% load static %}

{% block content %}
   <section class="hero-image">
    <div class="landing-text px-2">
        <h1 class="display-2 uppercase landing-main-heading mb-5">
        Ysra House of Roses
        </h1>
        <h5 class = "mt-3 sub-heading mb-5">
            Make your special one special today.
        </h5>
        <div class = "mt-5">
            <a  href="" class="btn rounded-0 pt-3  mr-lg-3 landing-button uppercase">Order Now</a>
        </div>
    </div>
</section>
{% endblock %}