{% extends "base.html" %}
{% load static %}

{% block content %}
   <section class="hero">
    <div class="hero-inner">
        <h1>Ysra House of Roses</h1>
        <h2> Make your special one special today.</h2>
            <a  href="" class="btn">Order Now</a>
    </div>
</section>
  <div class=" title services">
            <div class="row ">
                <div class="col-12 my-5 text-center">
                    <h3 class="sub-title text-uppercase font-weight-bold">House of Roses</h3>
                     <hr class="block-divider block-divider">
                    <p class="title-description"></p>
                </div>
            </div>

    
{% endblock %}