{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<section class="success-container-fluid">
    <div class="row">
		<div class="col-12 my-5 text-center">
			<h3 class="sub-title text-uppercase font-weight-bold mb-5">
					Order Confirmation!
				</h3>
            <h4>Thank you for your order!</h4>
            <p>Your order information is below. A confirmation email will be sent to 
                        <strong>{{ order.email }}</strong>.
                    </p>
			<div class="customer-details">
				<h4 class="sub-title text-uppercase font-weight-bold mt-5">Order Info:</h4>
				<p>{{ order.full_name }},
					<br>{{ order.street_address1 }},
					<br>{% if order.address_line_2 %} {{ order.street_address2 }},
					<br>{% endif %} {{ order.town_or_city }},
					<br>{% if order.county %} {{ order.county }},
					<br>{% endif %} {{ order.postcode }},
					<br>{{ order.country }}</p>
			</div>
		</div>
    </div>
    <div class="row">
			<div class="col-12 text-center">
                {% if from_profile %}
                    <div class="text-center">
                        <a href="{% url 'profile' %}" button type="button" class="button checkout_sucess_button_clear mb-3">
                            <span class="icon mr-2">
                                <i class="fas fa-angle-left"></i>
                            </span>
                            <span class="text-uppercase">Back to Profile</span>
                        </a>
                    </div>
                {% endif %}
				<div class="mt-2">
					<a href="{% url 'products' %}" button type="button" class="button checkout_button_success mb-3">
						<span class="icon">
							<i class="fas fa-arrow-left"></i>
						</span>
						<span>Keep Shopping</span>
					</a>
				</div>
			</div>
        </div>
</section>
        
{% endblock %}