@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
     /* Sizing */
    height: 100%;
}

body {
    margin: 0;
}

#logo {
  height: 100px;
  margin-left: 70px;
}

.nav-link,.nav-link-header,.dropdown-item,.icon-search{
    color: #f1777e !important;
}

.nav-link-header{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

.nav-link-header:hover,.nav-link:hover{
    color: #c5cbe6 !important;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.hero{
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../../media/hero-image.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    text-align: center;
    color: #ffff;
}

.hero h1 {
    font-size: 5em;
    font-family:'Roboto', sans-serif;
    font-weight: 50px;
}

.hero .btn {
    display: block;
    width: 200px;
    
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    color: white; 
    text-decoration: none;
    font-size: 1.5em;

    border: 3px solid white; 
    border-radius: 20px;
}

.btn--order:hover {
    background-color: #f1777e;
    border-color: #ffff;
}
.btn-search {
    background-color: #f1777e;
    border-color: #000;
}

.btn-md{
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
}

.utility-nav {
  background: #f1777e;
  padding: 0.5rem 1rem;
  margin-left: 1px
}

.utility-nav p {
  margin-bottom: 0;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.product-img{
    height: 20.6rem;
    object-fit: cover;
}

.product-heading{
    font-family: 'Roboto', sans-serif;  
    font-weight: 900;
    font-size: 1.3em;
    color: #f1777e;
}

.main-heading-roses,
.products-title{
    font-family: 'Roboto', sans-serif;  
    color: #f1777e;
    font-weight: 900;
    font-size: 2.1em;
}

.category-header{
    font-family: 'Roboto', sans-serif;  
    font-weight: 900;
    font-size: 1.5em;
    color: #c23940;
}

.category-tag,
.category-label,
.description-header,
.quantity-header{
    color: #f1777e;
    font-size: 1.3em;
}

.price-sign{ 
    font-weight: 500;
    font-size: 1.4rem;
    color: #252021;
}

.product-description{
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif; 
    font-style: italic;
}

.horizontal-lines {
  height: 10px;
  color: rgb(212, 14, 80);
  background-image: linear-gradient(
    currentColor,
    currentColor 33.33%,
    transparent 33.33%,
    transparent 100%);
  background-size: 100% 3px;
  width: 40px;
}


.card {
    margin-bottom: 30px;
    border: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    letter-spacing: .5px;
    border-radius: 8px;
    -webkit-box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
    box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05)
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.card .card-body {
    padding: 30px;
}

.main-content{
    font-size: 2rem
}
.sub-content{
    font-size: .90rem
}
.btn-primary,
.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #f1777e !important;
    border-color: #f1777e !important
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media only screen and (max-width: 992px){
    #logo{
        margin-left: 10px;
    }
}

@media (min-width: 360px) {
     #logo{
        margin-left: 10px;
    }
}
