@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
     /* Sizing */
    height: 100%;
}

body {
    margin: 0;
}

#logo {
  height: 100px;
  margin-left: 70px;
}


.nav-link,.nav-link-header,.dropdown-item,.icon-search{
    color: #f1777e !important;
}

.nav-link-header{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

.nav-link-header:hover,.nav-link:hover{
    color: #c8cbd8 !important;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


.hero{

   /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    /* Background styles */
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../../media/hero-image.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* Text styles */
    text-align: center;
    color: white;
}

.hero h1 {
    /* Text styles */
    font-size: 5em;
    font-family:'Roboto', sans-serif;
    font-weight: 50px;

     /* Margins */
    margin-top: 150px;
    margin-bottom: 0.5em;
    
}

.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    
    /* margins */
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: white; 
    text-decoration: none;
    font-size: 1.5em;
    
    /* Border styles */
    border: 3px solid white; 
    border-radius: 20px;
}

.utility-nav {
  background: #f1777e;
  padding: 0.5rem 1rem;
  margin-left: 1px
}

.utility-nav p {
  margin-bottom: 0;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.product-img{
height: 20.6rem;
object-fit: cover;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media only screen and (max-width: 992px){
    #logo{
        margin-left: 10px;
    }
}