@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
     /* Sizing */
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#logo {
  height: 100px;
  margin-left: 70px;
}

.nav-link,.nav-link-header,.dropdown-item,.icon-search{
    color: #f1777e !important;
}

.nav-link-header{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

.nav-link-header:hover,.nav-link:hover,.shopping-cart:hover{
    color: #c5cbe6 !important;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.hero{
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../../media/hero-image.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    text-align: center;
    color: #ffff;
}

.hero h1 {
    font-size: 5em;
    font-family:'Roboto', sans-serif;
    font-weight: 50px;
}

.hero .btn {
    display: block;
    width: 200px;
    
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    color: white; 
    text-decoration: none;
    font-size: 1.5em;

    border: 3px solid white; 
    border-radius: 20px;
}

.about-text{
    font-size: 1.3em;
    font-family:'Roboto', sans-serif;
    font-weight: 50px;
    
}

.about-title{
    font-size: 1.7em;
    font-family:'Roboto', sans-serif;
    font-weight: 50px;
    color: #f1777e;

}

.faqs-header, .Thankyou-heading{
    font-size: 2.7em;
    font-family:'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 50px;
    color: #f1777e;
}
.requiredField{
    font-size: 1,2rem;
    font-weight: 600;
    color: #f1777e;
}

.btn--order:hover {
    background-color: #f1777e;
    border-color: #ffff;
}
.btn-search {
    background-color: #f1777e;
    border-color: #000;
}

.btn-md{
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
}

.btn-colour-1 {
    color: #fff;
    background-color: #f1777e;
    letter-spacing: 0.05em;
    border-radius: 2;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}

.btn-colour-1:hover,
.btn-colour-1:active,
.btn-colour-1:focus {
    background-color: #f1777e;
    color: rgb(217, 223, 218) !important;
}

.utility-nav {
  background: #f1777e;
  padding: 0.5rem 1rem;
  margin-left: 1px
}

.utility-nav p {
  margin-bottom: 0;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.product-img{
    height: 20.6rem;
    object-fit: cover;
}

.product-heading{
    font-family: 'Roboto', sans-serif;  
    font-weight: 900;
    font-size: 1.3em;
    color: #f1777e;
}

.main-heading-roses,
.products-title{
    font-family: 'Roboto', sans-serif;  
    color: #f1777e;
    font-weight: 900;
    font-size: 2.1em;
}

.category-header{
    font-family: 'Roboto', sans-serif;  
    font-weight: 900;
    font-size: 1.5em;
    color: #c23940;
}
.category-label a :hover{
    color:#c5cbe6 !important;
}

.category-tag,
.category-label,
.description-header,
.quantity-header{
    color: #f1777e;
    font-size: 1.3em;
}

.price-sign{ 
    font-weight: 500;
    font-size: 1.4rem;
    color: #252021;
}

.product-description{
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif; 
    font-style: italic;
}

.horizontal-lines {
  height: 10px;
  color: rgb(212, 14, 80);
  background-image: linear-gradient(
    currentColor,
    currentColor 33.33%,
    transparent 33.33%,
    transparent 100%);
  background-size: 100% 3px;
  width: 40px;
}

.text-warning{
    color: #f1777e !important;
}
.card {
    margin-bottom: 30px;
    border: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    letter-spacing: .5px;
    border-radius: 8px;
    -webkit-box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
    box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05)
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.card .card-body {
    padding: 30px;
}

.main-content{
    font-size: 2rem
}
.sub-content{
    font-size: .90rem
}
.btn-primary,
.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #f1777e !important;
    border-color: #f1777e !important
}

ul {
    list-style: none;
    margin-bottom: 10px;
    padding-inline-start: 10px;
}

.button {
    display: inline-block;
    background: #f1777e;
    border-radius: 5px;
    height: 48px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.button a {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px
}

.button:hover {
    opacity: 0.8
}


.cart_section {
    width: 100%;
   
    padding-bottom: 111px
}

.cart_title {
    text-align: center;
    font-size: 30px;
    font-weight: 500
}

.cart_items {
    margin-top: 8px
}

.cart_list {
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff
}

.cart_item {
    width: 100%;
    padding: 40px;
    padding-right: 46px
}

.cart_item_image {
    width: 130px;
    height: 150px;
    float: left
}

.cart_item_image img {
    max-width: 100%
}

.cart_item_info {
    width: calc(100% - 130px);
    float: left;
    padding-top: 18px
}

.cart_item_name {
    margin-left: 9.53%
}

.cart_item_title {
    font-size: 1rem;
    font-weight: 600;
    color: #f1777e;
}

.cart_item_text {
    font-size: 18px;
    margin-top: 5px
}

.cart_item_text span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 15px;
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px)
}

.cart_item_price {
    text-align: right
}

.cart_buttons {
    margin-top: 60px;
    text-align: right
}

.cart_button_clear {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
    border: solid 1px #b2b2b2;
    padding-left: 35px;
    padding-right: 35px;
    outline: none;
    cursor: pointer;
    margin-right: 26px
}

.cart_button_clear:hover {
    border-color: #f1777e;
    color: #f1777e;
}

.cart_button_checkout {
    display: inline-block;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px;
    outline: none;
    cursor: pointer;
    vertical-align: top
}

.checkout_sucess_button_clear {
    text-align: left;
    font-size: 15px;
    font-weight: 300;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
    border: solid 1px #b2b2b2;
    padding-left: 15px;
    padding-right: 20px;
    outline: none;
    cursor: pointer;
}

.checkout_sucess_button_clear:hover {
    border-color: #f1777e;
    color: #f1777e;
}

.checkout_button_success{
    border: none;
    font-size: 15px;
    font-weight: 300;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
    cursor: pointer;
}

.checkout_button_success:hover,
.cart_button_checkout:hover {
    border-color: #f1777e;
    color: #FFFFFF;
}

.order_total {
    width: 100%;
    height: 200px;
    margin-top: 30px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    padding-right: 46px;
    padding-left: 15px;
    background-color: #fff
}

.order_subtotal_title,
.delivery_title,
.order_grandtotal_title {
    display: inline-block;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 60px
}

.order_subtotal_amount,
.delivery_total_amount,
.order_grandtotal_amount {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-left: 26px;
    line-height: 60px
}


.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.faqs-header{
    text-align: center;
}

.question-title{
    font-size: 1rem;
    font-weight: 600;
    color: #f1777e;

}

.sub-title{
    font-size: 1,2rem;
    font-weight: 600;
    color: #f1777e;
}

.form-control {
    color: #000;
    border-radius: 0 !important
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media only screen and (max-width: 992px){
    #logo{
        margin-left: 10px;
    }
}

@media (min-width: 360px) {
     #logo{
        margin-left: 10px;
    }
}

