<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="list-inline-item">
            <a class="nav-link-header font-weight-bold nav-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <p class="my-0">Search</p>
            </a>
            <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
                <form class="form" method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search">
                        <div class="input-group-append">
                            <button class="form-control form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon-search">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link-header font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Categories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=Bouquet" class="dropdown-item">Bouquet</a>
                <a href="{% url 'products' %}?category=Cylinder" class="dropdown-item ">Cylinder</a>
                <a href="{% url 'products' %}?category=Heart" class="dropdown-item ">Heart</a>
                <a href="{% url 'products' %}?category=Mirror box" class="dropdown-item">Mirror Box</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Roses</a>
            </div>
        </li>
        <li class="nav-item nav-item-header mr-5">
            <a class="nav-link nav-link-header font-weight-bold  {% if request.get_full_path == '/products/' %}active-nav-link{% endif %}" 
                 href="">About
            </a>
        </li>
        <li class="nav-item nav-item-header mr-5">
            <a class="nav-link nav-link-header font-weight-bold  {% if request.get_full_path == '/products/' %}active-nav-link{% endif %}" 
                 href="{% url 'faqs' %}">FAQs
            </a>
        </li>

        <li class="nav-item nav-item-header mr-5">
            <a class="nav-link nav-link-header font-weight-bold  {% if request.get_full_path == '/products/' %}active-nav-link{% endif %}" 
                 href="{% url 'contact_us' %}">Contact Us
            </a>
        </li>
        <li class="list-inline-item dropdown">
            <a class="nav-link-header font-weight-bold nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <p class="my-0">My Account</p>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a href="" class="dropdown-item">Product Management</a>
                {% endif %}
                <a href="" class="dropdown-item">My Profile</a>
                <a href="" class="dropdown-item">Logout</a>
                {% else %}
                <a href="" class="dropdown-item">Register</a>
                <a href="" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li> 
    </ul>
</div>